.projectlogo{
    width: 38px;
    line-height: 10px;
    padding-bottom: 10px;
}

.project-background{
    /* background-color: rgb(0 250 255); */
    background-color: #4e54b6cf;
    color: black;
}

.project-img{
    width: 70%;
}

.on-hover-project{
    /* width: 100px; */
    height: 100px;
    /* transition: 2s; */
    background-color: red !important;
}




.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    /* background: rgba(0, 0, 0, 1);  */
    color: #f1f1f1; 
    width: 70%;
    transition: 0.5s ease;
    opacity:1;
    color: white;
    /* font-size: 20px; */
    padding: 10px;
    text-align: center;
  }

@media all and (max-width: 930px) {

    .overlay{
        font-size: 10px;
    }

    .overlay h2{
        font-size: 15px;
    }

    .card button{
        font-size: 10px;
    }


}